<div class="landing-container">
    <!-- <div class="stars-container">
        <span  class="stars s-6"></span>
        <span  class="stars s-6 delay"></span>
        <span  class="stars s-6 delay"></span>
        <span  class="stars s-6 delay"></span>
        <span  class="stars s-6 delay"></span>
        <span  class="stars s-6 delay"></span>
        <span  class="stars s-8"></span>
        <span  class="stars s-8 delay"></span>
        <span  class="stars s-8"></span>
        <span  class="stars s-8"></span>
        <span  class="stars s-8"></span>
        <span  class="stars s-8 delay"></span>
        <span  class="stars s-8"></span>
        <span  class="stars s-10 delay"></span>
        <span  class="stars s-10"></span>
        <span  class="stars s-10"></span>
        <span  class="stars s-10 delay"></span>
        <span  class="stars s-10"></span>
    </div> -->
    <canvas #stars [width]="windowWidth" [height]="windowHeight"></canvas>
    <div>
        <div class="moon"></div>
        <h1>THOMAS<br>CHEVALLET</h1>
    </div>
    <div>
        <h2 class="mt-50vh">{{ "home.landing-title.portfolio-caps" | translate }}</h2>
    </div>
    <div>
        <h2 class="mt-50vh">{{ "home.landing-title.director-caps" | translate }}<br>{{ "home.landing-title.editor-caps" | translate }}</h2>
        <div class="landscape mt-50vh">
            <svg></svg>
            <svg></svg>
            <svg></svg>
        </div>
    </div>
</div>