<div #container class="container">
    <div #stickyContainer class="sticky-container">
        <div #galleryContainer class="gallery-container">
            <div class="gallery-title">
                <p>{{ "home.video-gallery.project-lists" | translate }}</p>
            </div>
            <ng-container *ngFor="let video of videosList; let i = index">
            <div *ngIf="i < 4 || isOpened" #videoContainer class="video-container">
                    <div class="separator"></div>
                    <div>
                        <div [routerLink]="['/video', video.id]" class="thumbnail" [ngStyle]="{'background-image': 'url(' + video.thumbnailUrl + ')'}">
                        </div>
                        <p class="video-title">{{video.title}}</p>
                        <p class="video-index">{{i + 1}}</p>
                    </div>
                </div>
            </ng-container>
            <div class="see-more" *ngIf="!isOpened">
                <div class="separator"></div>
                <p (click)="seeMore()">{{ "home.video-gallery.see-more" | translate }}</p>
            </div>
        </div>
    </div>
</div>