<div #container class="container">
    <div #stickyContainer class="sticky-container">
        <div #galleryContainer class="gallery-container">
            <div>
                <p>{{ "home.video-gallery.project-lists" | translate }}</p>
            </div>
            <div class="video-container" *ngFor="let video of videoList; let i = index">
                <span></span>
                <div class="thumbnail" [ngStyle]="{'background-image': 'url(' + video.fileName + ')'}">

                </div>
                <p>{{i}}</p>
            </div>
        </div>
    </div>
</div>